{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/mv-centr.ru",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1637923897314.4478,
          "date": "2021-11-26T13:46:54.484Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1637924577484.6387,
          "date": "2021-11-26T13:46:55.140Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1637924631266.0557,
          "date": "2021-11-26T13:46:55.839Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1637934377143.0723,
          "date": "2021-11-26T13:46:56.566Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1637934400661.02,
          "date": "2021-11-26T13:46:57.707Z"
        },
        {
          "file": "fonts/Philosopher.eot",
          "mtimeMs": 1606472087247.5693,
          "date": "2021-11-26T13:46:58.982Z"
        },
        {
          "file": "fonts/Philosopher.svg",
          "mtimeMs": 1606472087426.8591,
          "date": "2021-11-26T13:47:00.348Z"
        },
        {
          "file": "fonts/Philosopher.ttf",
          "mtimeMs": 1606472088365.77,
          "date": "2021-11-26T13:47:02.297Z"
        },
        {
          "file": "fonts/Philosopher.woff",
          "mtimeMs": 1606472088558.0002,
          "date": "2021-11-26T13:47:04.780Z"
        },
        {
          "file": "fonts/Philosopher.woff2",
          "mtimeMs": 1606472088280.7043,
          "date": "2021-11-26T13:47:05.919Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1637924773054.538,
          "date": "2021-11-26T13:47:06.868Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1606305683022.4316,
          "date": "2021-11-26T13:47:08.357Z"
        },
        {
          "file": "img/backs/main.jpg",
          "mtimeMs": 1637915234898.1755,
          "date": "2021-11-26T13:47:09.808Z"
        },
        {
          "file": "img/certs/cert-1.jpg",
          "mtimeMs": 1637915618252.777,
          "date": "2021-11-26T13:47:11.668Z"
        },
        {
          "file": "img/certs/cert-10.jpg",
          "mtimeMs": 1637915703127.1868,
          "date": "2021-11-26T13:47:12.998Z"
        },
        {
          "file": "img/certs/cert-11.jpg",
          "mtimeMs": 1637915710445.9233,
          "date": "2021-11-26T13:47:13.927Z"
        },
        {
          "file": "img/certs/cert-12.jpg",
          "mtimeMs": 1637915716265.9177,
          "date": "2021-11-26T13:47:15.500Z"
        },
        {
          "file": "img/certs/cert-13.jpg",
          "mtimeMs": 1637915722209.9153,
          "date": "2021-11-26T13:47:17.503Z"
        },
        {
          "file": "img/certs/cert-14.jpg",
          "mtimeMs": 1637915729977.95,
          "date": "2021-11-26T13:47:19.163Z"
        },
        {
          "file": "img/certs/cert-2.jpg",
          "mtimeMs": 1637915628885.0798,
          "date": "2021-11-26T13:47:21.716Z"
        },
        {
          "file": "img/certs/cert-3.png",
          "mtimeMs": 1637915642291.8672,
          "date": "2021-11-26T13:47:26.549Z"
        },
        {
          "file": "img/certs/cert-4.jpg",
          "mtimeMs": 1637915651568.4568,
          "date": "2021-11-26T13:47:27.643Z"
        },
        {
          "file": "img/certs/cert-5.jpg",
          "mtimeMs": 1637915662854.595,
          "date": "2021-11-26T13:47:29.041Z"
        },
        {
          "file": "img/certs/cert-6.jpg",
          "mtimeMs": 1637915673812.7415,
          "date": "2021-11-26T13:47:31.024Z"
        },
        {
          "file": "img/certs/cert-7.jpg",
          "mtimeMs": 1637915684173.5605,
          "date": "2021-11-26T13:47:33.762Z"
        },
        {
          "file": "img/certs/cert-8.jpg",
          "mtimeMs": 1637915690715.3567,
          "date": "2021-11-26T13:47:36.108Z"
        },
        {
          "file": "img/certs/cert-9.jpg",
          "mtimeMs": 1637915696934.3762,
          "date": "2021-11-26T13:47:37.361Z"
        },
        {
          "file": "img/certs/photo-1.jpg",
          "mtimeMs": 1637915827548.5166,
          "date": "2021-11-26T13:47:39.283Z"
        },
        {
          "file": "img/certs/photo-10.jpg",
          "mtimeMs": 1637915995801.592,
          "date": "2021-11-26T13:47:41.430Z"
        },
        {
          "file": "img/certs/photo-11.jpg",
          "mtimeMs": 1637916007204.0464,
          "date": "2021-11-26T13:47:42.537Z"
        },
        {
          "file": "img/certs/photo-12.jpg",
          "mtimeMs": 1637916020636.2473,
          "date": "2021-11-26T13:47:43.597Z"
        },
        {
          "file": "img/certs/photo-13.jpg",
          "mtimeMs": 1637916032190.759,
          "date": "2021-11-26T13:47:45.235Z"
        },
        {
          "file": "img/certs/photo-14.jpg",
          "mtimeMs": 1637916042587.4224,
          "date": "2021-11-26T13:47:46.406Z"
        },
        {
          "file": "img/certs/photo-15.jpg",
          "mtimeMs": 1637916057332.3064,
          "date": "2021-11-26T13:47:47.486Z"
        },
        {
          "file": "img/certs/photo-16.jpg",
          "mtimeMs": 1637916070194.422,
          "date": "2021-11-26T13:47:48.468Z"
        },
        {
          "file": "img/certs/photo-17.jpg",
          "mtimeMs": 1637916081038.9268,
          "date": "2021-11-26T13:47:49.274Z"
        },
        {
          "file": "img/certs/photo-18.jpg",
          "mtimeMs": 1637916093957.272,
          "date": "2021-11-26T13:47:51.063Z"
        },
        {
          "file": "img/certs/photo-19.jpg",
          "mtimeMs": 1637916104413.2524,
          "date": "2021-11-26T13:47:53.830Z"
        },
        {
          "file": "img/certs/photo-2.jpg",
          "mtimeMs": 1637915840660.2742,
          "date": "2021-11-26T13:47:57.418Z"
        },
        {
          "file": "img/certs/photo-20.jpg",
          "mtimeMs": 1637916115199.577,
          "date": "2021-11-26T13:47:59.706Z"
        },
        {
          "file": "img/certs/photo-21.jpg",
          "mtimeMs": 1637916128266.345,
          "date": "2021-11-26T13:48:01.273Z"
        },
        {
          "file": "img/certs/photo-22.jpg",
          "mtimeMs": 1637916139965.4048,
          "date": "2021-11-26T13:48:05.747Z"
        },
        {
          "file": "img/certs/photo-3.jpg",
          "mtimeMs": 1637915851221.5713,
          "date": "2021-11-26T13:48:06.760Z"
        },
        {
          "file": "img/certs/photo-4.jpg",
          "mtimeMs": 1637915912787.576,
          "date": "2021-11-26T13:48:08.468Z"
        },
        {
          "file": "img/certs/photo-5.jpg",
          "mtimeMs": 1637915923855.2874,
          "date": "2021-11-26T13:48:10.361Z"
        },
        {
          "file": "img/certs/photo-6.jpg",
          "mtimeMs": 1637915939128.0388,
          "date": "2021-11-26T13:48:11.440Z"
        },
        {
          "file": "img/certs/photo-7.jpg",
          "mtimeMs": 1637915950992.8953,
          "date": "2021-11-26T13:48:13.098Z"
        },
        {
          "file": "img/certs/photo-8.jpg",
          "mtimeMs": 1637915961255.1206,
          "date": "2021-11-26T13:48:14.907Z"
        },
        {
          "file": "img/certs/photo-9.jpg",
          "mtimeMs": 1637915983455.537,
          "date": "2021-11-26T13:48:15.909Z"
        },
        {
          "file": "img/icons/can-1.png",
          "mtimeMs": 1637915323282.5806,
          "date": "2021-11-26T13:48:16.808Z"
        },
        {
          "file": "img/icons/can-2.png",
          "mtimeMs": 1637915335503.7031,
          "date": "2021-11-26T13:48:17.873Z"
        },
        {
          "file": "img/icons/can-3.png",
          "mtimeMs": 1637915346640.9026,
          "date": "2021-11-26T13:48:19.356Z"
        },
        {
          "file": "img/icons/can-4.png",
          "mtimeMs": 1637915357128.7642,
          "date": "2021-11-26T13:48:20.419Z"
        },
        {
          "file": "img/icons/can-5.png",
          "mtimeMs": 1637915368240.038,
          "date": "2021-11-26T13:48:21.663Z"
        },
        {
          "file": "img/icons/can-6.png",
          "mtimeMs": 1637915378022.787,
          "date": "2021-11-26T13:48:23.301Z"
        },
        {
          "file": "img/icons/insta.ico",
          "mtimeMs": 1637915535683.944,
          "date": "2021-11-26T13:48:24.281Z"
        },
        {
          "file": "img/images/about.png",
          "mtimeMs": 1637915295410.6863,
          "date": "2021-11-26T13:48:26.491Z"
        },
        {
          "file": "img/images/hggh.png",
          "mtimeMs": 1637915469924.7695,
          "date": "2021-11-26T13:48:28.958Z"
        },
        {
          "file": "img/images/tamara.jpg",
          "mtimeMs": 1637915516430.9988,
          "date": "2021-11-26T13:48:31.151Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1637913815388.728,
          "date": "2021-11-26T13:48:32.089Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1637913821359.965,
          "date": "2021-11-26T13:48:32.883Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
