footer
	.container
		.row
			.col-md-4
				p.footer-text ИП Кудряшова Тамара Георгиевна
				p.footer-text ИНН 614311503399
				p.footer-text ОГРН 319619600217289
			.col-md-4
				p.footer-text КОНТАКТЫ:
				p.footer-text
					a(href='tel:+7 (925) 604 22 24') +7 (925) 604 22 24
			.col-md-4
				p.footer-text © 2021 Все права защищены
				p.footer-text
					a(href='http://shop.mv-centr.ru/document/view/publicoffer' target='_blank') Договор оферты