@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
#main
	background-image: url(../img/images/grey-line.png)
	background-repeat no-repeat
	background-position: top left -200px
	background-size contain
	padding 80px 0
	min-height calc(100vh - 172px)
	@media screen and (max-width 991px)
		padding 60px 0
		background-size: 300px
	@media screen and (max-width 560px)
		padding 40px 0
		background-position: top left -230px
.main
	&-title
		font-family: PH
		font-size: 72px
		text-transform uppercase
		line-height: 1.12
		@media screen and (max-width 991px)
			font-size: 48px
		@media screen and (max-width 560px)
			font-size: 36px
		@media screen and (max-width 386px)
			font-size: 32px
	&-subtitle
		margin: 30px 0 0
		font-family: PH
		font-size: 32px
		text-transform uppercase
		@media screen and (max-width 991px)
			font-size: 28px
		@media screen and (max-width 560px)
			font-size: 20px
@import 'base/4-footer'