@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'

@import 'base/2-base'

// @import 'base/3-header'
@import 'main/1-main'
@import 'main/2-about'
@import 'main/3-can'
@import 'main/4-line'
@import 'main/5-get'
@import 'main/6-tasks'
@import 'main/7-author'
@import 'main/8-certs'
@import 'main/9-last'
@import 'base/4-footer'