.about-set
	position relative
	width 100%
	max-width 460px
	margin 0 auto
	&-title
		font-size: 84px
		text-decoration underline
		color #d1bb90
		line-height: 1.2
		margin-top: -15px
	&-img
		display block
		width 100%
		position absolute
		top 100%
		left 0