footer
	padding 20px 0
	background-color: rgba(#eee,.7)
	font-size: 16px
	@media screen and (max-width 991px)
		text-align center
	@media screen and (max-width 560px)
		padding 15px 0
		font-size: 12px
.footer-text
	a
		color #e460bf
		&:focus
		&:hover
			color #e460bf