mixin gl(n, p)
	.col-md-6
		.get-item
			p.get-item-text=p

section#get
	.container
		+gt('', 'В процессе арт-терапии вы сможете:')
		.row
			+gl('', 'проработать волнующие вас запросы, страхи, ограничения')
			+gl('', 'найти и усилить действующие способы самомотивации')
			+gl('', 'повысить самооценку и свою личную эффективность')
			+gl('', 'легко находить решения для собственных задач в любой сфере жизни')
		.row
			+gl('', 'выявить собственные стратегии достижения целей')
			+gl('', 'научиться осознавать и защищать личные границы')
			+gl('', 'раскрыть собcтвенный творческий потенциал')
			+gl('', 'получить прилив сил, уверенности, вдохновения')