mixin ti(n, p)
	.col-md-6
		.task-item(class='task-item-' + n)
			p.task-item-text=p

section#tasks
	.container
		+gt('', 'Быстро, эффективно и увлекательно решаем задачи:')
		.row
			+ti('1', 'Освобождение от груза прошлого и выявление того, что мешает двигаться/получать/создавать')
			+ti('2', 'Отслеживание и осознание ограничений, неработающих установок')
			+ti('3', 'Избавление от страхов, проработка травм прошлого')
		.row
			+ti('4', 'Обретение ресурса для дальнейшего развития')
			+ti('5', 'Принятие себя, повышение самооценки и раскрытие творческого потенциала')
			+ti('6', 'Исследование чувств и эмоций: любовь, страх, ненависть, обида, злость, радость')