section#author
	.container
		+gt('', 'О специалисте:')
		.row
			.col-md-6.col-md-push-6
				+imgs('author-img', 'img/images/tamara.jpg', 'Тамара Кудряшова')
			.col-md-6.col-md-pull-6
				ul.general-list
					li Сертифицированный коуч
					li Сертифицированный арт-терапевт
					li Сертифицированный тренер программ личностного роста в области семейных отношений
				a.insta(href='https://www.instagram.com/tamara__kudryashova/' target='_blank')
					+imgs('', 'img/icons/insta.ico', 'Инстаграм')